[Desktop Entry]
Encoding=UTF-8
Name=Ubuntu Pocket Guide
GenericName=Ubuntu Pocket Guide
Comment=Ubuntu Pocket Guide and Reference
Exec=evince /usr/share/ubuntu-pocket-guide/ubuntupocketguide-v1-1.pdf
#Icon=gSTM.png
Terminal=false
Type=Application
#Categories=Application;GTK;GNOME;Network;
